.main {
  max-width: 80vw;
  min-width: 500px;
}

.todoInput {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
}

.todoListText {
  margin-right: auto;
}

.todoListText.toggled {
  text-decoration: line-through;
  color: gray;
}

.todoListText:not(.toggled) {
  font-weight: bold;
}

button {
  margin-left: 5px;
}
