.tutorial {
  padding: 12px;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 100%;
  grid-template-areas:
    "steps"
    "nav-top"
    "main"
    "nav-bottom";
}
.steps {
  grid-area: steps;
}

.nav {
  font-weight: bold;
  margin: 8px 0;
  justify-self: center;
  display: flex;
  justify-content: space-between;
  min-width: 250px;
}
.nav > * {
  margin: 0 15px;
}
.top {
  grid-area: nav-top;
}

.bottom {
  grid-area: nav-bottom;
}

.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.main h1 {
  background-color: lightgray;
  font-weight: bold;
  padding-left: 1ex;
}

.main h2 {
  background-color: lighten(lightblue, 15);
  padding-left: 1ex;
}

.main ol > li {
  counter-increment: item;
  padding: 2px;
}

.main ol ol > li {
  display: block;
  padding: 2px;
}

.main ol ol > li:before {
  content: counters(item, ".") ". ";
  padding: 2px;
}

.main code {
  padding-left: 2px;
  padding-right: 2px;
  background-color: rgb(238, 236, 236);
}

.main pre code {
  display: block;
}
